@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

.p-btn {
  background-image: linear-gradient(#681cff, #681cff);
  color: white;
  padding: 1.2rem 2rem;
  transition: 1s all;
}

.p-btn:hover {
  background-image: linear-gradient(#681cff, #b01f6c);
}

.hero-title {
  background: -webkit-linear-gradient(to right, #681cff, #b01f6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-title {
  background-image: url("./assets/space.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
}

.bg-transparent {
  background-color: transparent;
}

.input-item::placeholder {
  color: white; /* Set the color of the placeholder text */
}
.input-primary::placeholder {
  color: #681cff; /* Set the color of the placeholder text */
}

.rounded-box {
  border-radius: 15%;
}
.scrolling-text-container {
  overflow: hidden;
}

.scrolling-text {
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
